header {
    color: rgb(240, 224, 224);
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #5c0b0b;
    text-shadow: 2px 2px #0c0101;
    animation: mymove 5s infinite;
    padding-top: 10px;
    
    
    
}

@keyframes mymove {
    from {background-color: rgb(54, 4, 4);}
    to {background-color: rgb(29, 0, 0);}
  }

a{
    text-decoration: none; 
    color: saddlebrown;
}
a:hover{
    text-decoration: none;
    color: sienna;
}
.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    
}

.nav-bar ul {
    
    width: 100%;
    padding: 0px;
    margin:0px;
    overflow-x: hidden;
    
    
}
.nav-bar ul li {
    display: block;
    
    float: left;
    width: 33%;
    background-color:rgb(29, 0, 0);
    text-shadow: none;
    font-size: 20px;
    /* overflow-x: hidden; */
}


body {
    background-color: #0f5153;
    font-size: 15px;
}

.btn {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 15px;
    padding-bottom: 3px;


}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
/* movies, series page*/
#movie-panel{

    background-color: rgb(29, 0, 0);
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
    
} 

#content{
    width: 100%;
}
#details{
    background-color: rgb(250, 245, 245);
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: rgb(110, 119, 235);
    padding: 0 4px;
    width: 100%;
    position: static;
    margin-left:-20px;

}


/* home page */

#left-side{

    justify-content: center;
    background-color: rgb(29, 0, 0);
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
    padding: 0 4px;
    column-gap: 20px;
    height: 310px;
} 

#right-side{
    
    text-align: center;
    justify-content: center;
    background-color: rgb(29, 0, 0);
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
    padding: 0 4px;
    column-gap: 20px;
    max-width: 750px;
    /* display: grid; */
} 

.edit_button {
    float: right;
    background-color: rgb(89, 102, 114);
}

#cloneMe{
    max-width: 740px; 
    background-color: white;
}
